@media only screen and (max-width: 767px) {
  div .card-row {
    height: 1325px;
  }
}

body {
  background-color: #c9d1d3;
  font-family: "Montserrat", sans-serif;
}

p {
  color: black;
}

i {
  font-size: 3em;
  color: #1b2a49;
  text-shadow: 5px 5px 5px gray;
}

header {
  font-size: 14pt;
  text-shadow: 1px 1px gray;
}

header .btn {
  width: 100%;
  background-image: linear-gradient(to right, #1b2a49, #465881);
}

.bg-header {
  background-image: url("https://picsum.photos/id/931/800/800");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2a49;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  box-shadow: 5px 5px 5px gray;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #465881;
  color: #c9d1d3;
  box-shadow: 5px 5px 5px gray;
}

.container-fluid .bg-card {
  justify-content: center;
}

.card-body {
  box-shadow: 5px 5px 5px gray;
}

.card-row {
  background-color: #1b2a49;
  height: 65vh;
}

.bg-card {
  background-color: #00909e;
}

.card img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.card .btn {
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.bg-none {
  background-color: transparent;
}

.col-empty {
  margin-top: 75px;
  margin-bottom: 75px;
}

.row-content {
  border-top: 10px solid;
  border-color: #1b2a49;
}
#img-main {
  box-shadow: 5px 5px 5px grey;
}

.logo-row {
  background-image: linear-gradient(to right, #465881, #1b2a49);
}

.logo-row h2 {
  text-shadow: 1px 1px 1px grey;
  font-weight: bold;
}

footer {
  border-top: 10px solid;
  border-color: #c9d1d3;
  background-color: #1b2a49;
  color: #c9d1d3;
}

footer p {
  color: #c9d1d3;
  font-size: 8pt;
  margin: 0;
  margin-bottom: 1em;
}
