.bg-header {
  background-image: url("https://picsum.photos/id/931/800/800");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2a49;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #465881;
}

.card-col {
  padding-bottom: 100px;
}

.bg-card-container {
  background-color: #1b2a49;
}

.bg-card {
  background-color: #c9d1d3;
}

.card img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.card .btn {
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.bg-none {
  background-color: transparent;
}
