.bg-header {
  background-image: url("https://picsum.photos/id/931/800/800");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2a49;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-cards {
  background-color: #c9d1d3;
}

.bg-transparent {
  background-color: transparent;
}

.bg-card-body {
  background-color: #465881;
}

.card-margin {
  margin-bottom: 20rem;
}

.card {
  left: 0;
  right: 0;
  margin: auto;
}

.card-body .btn {
  left: 0;
  right: 0;
  max-width: 50%;
  margin: auto;
}
